
$sky: #D1EFFF;

body {
  background-color: $sky;
  font-family: sans-serif;
  align-items: center;
  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80px;
    align-items: center;

    div {
      display: flex;

    }

    img {
      width: 150px;
      height: 60px;
      padding: auto;
    }
    a {
    display: flex;
    margin: 1em 1.5em;
    font-size: 20px
    }
  }//closes nav

  form div {
    margin: 1em;
    display: inline-block;
  }

  hr {
    margin: 5px
  }

  #main-container {
    height: 100vh;
  }

  #landing {
    display: block;
    h1 {
      margin: 7% auto;
      text-align: center;
      font-size: 60px;
      letter-spacing: .15em;
    }

    div {
      display: flex;
      margin: auto;
      justify-content: center;
      button {
        margin: 1em;
      }
    }

    a {
      color: white;
    }
  }

  #map-container {
    height: calc(100% - 90px);
  }
}//closes body
